@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Over+the+Rainbow&family=Rock+Salt&display=swap');

/* font-family: 'Gloria Hallelujah', cursive; */
/* font-family: 'Over the Rainbow', cursive; */
/* font-family: 'Rock Salt', cursive; */

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    background-color: rgb(17, 17, 95);
}

body {
    margin: 4px 0 0 0;
    max-height: 100vh;
}

header {
    width: fit-content;
    padding: 12px 5px 12px 5px;
    margin: 1px auto 2px auto;
    color: rgba(183, 206, 225, 0.835);
    font-size: 24px;
    font-family: 'Gloria Hallelujah', cursive;

}

/* radio icons */
#r,
#p,
#s {
    display: none;
}

.rot {
    transform: scaleX(-1);
}

#status {
    /* outline: 1px solid red; */
    align-items: center;
    margin: -2% auto 2% auto;
    color: rgba(183, 206, 225, 0.835);
    font-family: 'Over the Rainbow', cursive;
}

form {
    /* outline: 1px solid green; */
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between
}

.max {
    /* outline: 1px solid red; */
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: max-content;
}

.rht {
    text-align: end;
}

.lft {
    text-align: start;
}

.max img {
    /* outline: 1px solid greenyellow; */
    width: 90%;
    height: 90%;
    background-color: rgba(168, 168, 220, 0.505);
}

.mini {
    background-color: rgb(9, 9, 69);
    /* outline: 1px solid red; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.mini:hover {
    transform: scale(1.20, 1.20);
    cursor: pointer;
}