{% extends 'rps_app/_base.html' %}
{% load static %}
{% block title %}Rock-Paper_Scissors{% endblock title %}

{% block header %}
<h1>Rock-Paper-Scissors</h1>
{% endblock header %}

{% block content %}
<section>
    {% if x %}

    <div class="max">
        <div class="rht">
            {% if x == "Rock" %}
            <!-- ?t returns current time from backend and is appended to image name
            It prevents browser caching by loading image as unique object each time page reloads
            Browser caching prevent gifs reload & re-animation when page refreshes -->
            <img src="{% static 'images/rock.gif' %}?{{t}}" alt="Rock">
            {% elif x == "Paper" %}
            <img src="{% static 'images/paper.gif' %}?{{t}}" alt="Paper">
            {% elif x == "Scissors" %}
            <img src="{% static 'images/scissors.gif' %}?{{t}}" alt="Scissors">
            {% endif %}
        </div>

        <div class="lft">
            {% if y == "Rock" %}
            <img class="rot" src="{% static 'images/rock.gif' %}?{{t}}" alt="Rock">
            {% elif y == "Paper" %}
            <img class="rot" src="{% static 'images/paper.gif' %}?{{t}}" alt="Paper">
            {% elif y == "Scissors" %}
            <img class="rot" src="{% static 'images/scissors.gif' %}?{{t}}" alt="Scissors">
            {% endif %}
        </div>
    </div>

    <div class="scoreboard">
        <table id="status">
            <thead id="scoreHead">
                <th>YOU ({{sb.you}})</th>
                <th>:</th>
                <th>COM({{sb.com}})</th>
            </thead>
            <tr id="scoreRow">
                <td>{{x}}</td>
                <td>{{z}}</td>
                <td>{{y}}</td>
            </tr>
        </table>
    </div>

    {% endif %}
</section>

<section class="playcons">
    <form action="" method="post" id="game">
        {% csrf_token %}
        <input type="radio" name="game" id="r" value="Rock"><label for=r><img class="rot mini"
                src="{% static 'images/rock_img.gif' %}" alt=""></label>
        <input type="radio" name="game" id="p" value="Paper"><label for=p><img class="rot mini"
                src="{% static 'images/paper_img.gif' %}" alt=""></label>
        <input type="radio" name="game" id="s" value="Scissors"><label for=s><img class="rot mini"
                src="{% static 'images/scissors_img.gif' %}" alt=""></label>
    </form>
</section>

<div>
    <a href="{% url "home" %}">HOME<a/>
</div>
{% endblock content %}